repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: nix develop --command ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: nix develop --command ruff format
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: nix develop --command pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
